/* font-family: 'Poppins', sans-serif; */
.hero-section{
    background: #F0FFF0;
    min-height: 100vh;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #C2B49D;    
}
.navbar-brand img{
    width: 15%;
}
.hero-content h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.hero-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
}
.hero-content h1 span{
    color: #21B573
}
.hero-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
.btn-custom{
    background: #21B573;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    color: #fff;
}
.feature-content img{    
width: 66px;
height: 85px;}

.feature-content h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;color: #413960;
}
.feature-content p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;color: #585859;
}