/* font-family: 'Poppins', sans-serif; */
.hero-section{
    background: #;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #C2B49D;
    
}

