/* font-family: 'Poppins', sans-serif; */
.hero-section{
    background: #F0FFF0;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #C2B49D;    
}
.navbar-brand img{
    width: 15%;
}
.hero-content h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.hero-content h1{

}
.hero-content p{

}
